@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    background-color:   #dddddd;
    font-family:        Lato, sans-serif;
    padding-bottom:     1em;
}

h2{
    margin-top:         2em;
    margin-bottom:      0;
}

#content-main{
    width:              85%;
    margin-left:        auto;
    margin-right:       auto;
}

.example-modal{
    display:            none;
}

.code-example{
    background-color:   #F9F9F9;
    border:             1px dashed #2F6FAB;
    color:              black;
    line-height:        1.5em;
    padding:            1em;
}

button{
    background-color:   #ffffff;
    border:             1px solid lightblue;
    border-radius:      4px;
    color:              black;
    line-height:        1.5em;
    padding:            0.5em;
}

button:hover{
    cursor:             pointer;
}

.bold{
    font-weight:        bold;
}